/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #135;
}
#room {
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
    transition: opacity 1s;
}